{{> navBar }}
<div class='container mt-5'>
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Ruta no encontrada</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            404
        </figcaption>
    </figure>
</div>

<script type="text/javascript">
    //Redireccionamiento tras 2 segundos
    setTimeout(() => { window.location.href = "/"; }, 3000);
</script>