{{> navBar }}
<div class='container mt-5 mb-5 p-3 bg-secondary'>
    <div class="container-sm">
        <div>
            <div class="text-bg-secondary text-center p-3 mb-3">
                <h2>Login de usuario</h2>
            </div>
        </div>
        <div class='row'>
            <form action="/" method="post">
                <input type="email" class="form-control mb-2" placeholder="Ingrese su email" name="email">
                <input type="password" class="form-control mb-2" placeholder="Ingrese su password" name="password">
                <button type="submit" class="btn btn-primary">Login</button>
                <hr>
            </form>
            <button type="button" onclick="location.href='/registro'" class="btn btn-primary">Ir a
                    Registro</button>
        </div>
    </div>
</div>